<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.thenightlyfish"
        versionCode = "1" 
        version     = "1.0.0" >

    <name>The Nightly Fish</name>

    <description>
        Find out the best deals tonight in Whitefish.
    </description>

    <author href="https://thenightlyfish.com" email="6oh2isthelife@gmail.com">
        Parker Beeson 
    </author>

    <preference name="fullscreen" value="false" />

</widget>
